nav > .addfieldbtn {
  width: 72px;
  height: 70px;
  background: rgb(255, 255, 255);
  border-right: solid;
  border-left: solid;
  border-color: lightgrey;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.fieldbtntxt  {
  height: 18px;
  font-size: 12px;
  font-weight: 350;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #424770;
  font-family: sans-serif;
}
.fieldbtnicon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  background-color: white;
}
nav > #inputs {
  border-radius: 8px 8px 0px 0px;
  border-top: solid;
  border-color: lightgrey;
  border-width: 1px;
}
nav > #media {
  border-radius: 0px 0px 8px 8px;
  border-bottom: solid;
  border-color: lightgrey;
  border-width: 1px;
  margin-bottom: 10px;
}
nav > #equations {
  border-radius: 8px 8px 0px 0px;
  border-top: solid;
  border-color: lightgrey;
  border-width: 1px;
}
nav > #functions {
  border-radius: 0px 0px 8px 8px;
  border-bottom: solid;
  border-color: lightgrey;
  border-width: 1px;
}